<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <title>Blog App</title>
  </head>
  <body>
    <div class="ui fixed menu">
      <div class="header item">
        <i class="bullhorn icon" id="horn"></i>Blog App
      </div>
      <a class="item" href="/blog">
        Home
      </a>
      <a class="item" href="/blog/new">
        New Post
      </a>
    </div>
