<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">
    <%=blog.title%>
  </div>
  <div class="ui rounded centered image">
    <img src="<%=blog.image%>" alt="Blog image">
  </div>
  <div class="ui container">
    <%-blog.body%>
  </div>
  <div class="ui divider"></div>
  <div class="ui container date">
    <em><%=blog.date.toDateString()%></em>
  </div>
</div>

<% include partials/footer %>
